.container{
    background-color: white;
    max-width: 1480px;

}
.ra{
    color: black;
    text-decoration: none;
}
.ramda_logo{
    font-family: "Myriad-pro", sans-serif;
    font-size: 80px;
    font-weight: 400;
    color: black;
    text-align: left;
    margin: 61px 0px 0px 101px;
    height: 120px;

}
.highlight{
    color: rgb(34, 207, 207);
}
.header{
    max-width: 1280px;
    height: 69px;
    position: relative;
    left: 0%;
    margin: 0px 0px 0px 101px;
    background-color: #35444f;
}
.header_block{
    text-align: center;
}
.header1{
    height: 69px;
    width: 300px;
    background-color: #35444f;
    display: inline-block;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
}
.header1:hover{
    background-color: #222f3a;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.header_text{
    padding: 18px 0px 0px 0px;
    font-family: "Myriad-pro", sans-serif;
    font-size: 24px;
    text-align: center;
}
.htl{
    color: white;
}
.header2{
    height: 69px;
    width: 130px;
    background-color: #35444f;
    display: inline-block;
    margin: 0px 0px 0px -4px;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
}
.header2:hover{
    background-color: #222f3a;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.header3{
    height: 69px;
    width: 250px;
    background-color: #35444f;
    display: inline-block;
    margin: 0px 0px 0px -4px;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
}
.header3:hover{
    background-color: #222f3a;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.header4{
    height: 69px;
    width: 180px;
    background-color: #35444f;
    display: inline-block;
    margin: 0px 0px 0px -4px;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
}
.header4:hover{
    background-color: #222f3a;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.main{
    max-width: 1280px;
    height: 870px;
    margin: 30px 0px 0px 101px;
}
.main_left{
    width: 312px;
    height: 800px;
    display: inline-block;
}
.left_menu_block{
    width: 312px;
    height: 405px;
    border: 1px solid grey;
}
.left_menu_item{
    height: 81px;
}
.left_menu_item:hover{
    background-color: rgb(222, 222, 222);
}
.left_menu_text{
    font-family: "Myriad-pro", sans-serif;
    font-size: 26px;
    height: 81px;
    padding: 25px 0px 0px 35px;
}
.left_menu_text:hover{
    color: black;
    padding: 25px 0px 0px 60px;
}
.lml{
    color: #485863;
}
.lml:hover{
    color: black;
}

.main_right{
    width: 914px;
    height: 900px;
    display: inline-block;
    vertical-align: top;
}
.icon_block{
    width: 875px;
    height: 529px;
    border: 1px solid grey;
    margin: 0px 0px 0px 37px;
}
.icon{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.icon:after{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
img{
    vertical-align: middle;
}
.icon:hover{
    transform: scale(1.2, 1.2);
}
.main_text{
    color: #2c2b2b;
    font-family: "Myriad-pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 40px 0px 0px 40px;
}

.footer{
    max-width: 1280px;
    height: 69px;
    margin: 0px 0px 0px 101px;
    background-color: rgb(194, 194, 194);
}
.footer1{
    font-family: "Myriad-pro", sans-serif;
    font-size: 24px;
    line-height: 70px;
    padding-left: 35px;
    display: inline-block;
}
.footer2{
    font-family: "Myriad-pro", sans-serif;
    font-size: 24px;
    line-height: 70px;
    padding-left: 25px;
    display: inline-block;
}
.footer6{
    font-family: "Myriad-pro", sans-serif;
    font-size: 24px;
    line-height: 70px;
    padding-left: 200px;
    display: inline-block;
    color: #010000;
}
.footer_text{
    color: #0c1927;
    height: 50px;
}
.footer_text:hover{
    color: #3181a6;
    border-bottom: 2px solid #3181a6;
}
.fml{
    height: 69px;
}
